@import "../../utils/commons.scss";

.container {
  @extend .flexCol;
  width: var(--fixedWidth);
  margin: 0 auto;
  transition: 0.2s ease-in-out;
  transition-property: opacity;
  .mainText {
    width: 80%;
    margin: 1rem 0;
  }
  h1 {
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
  }
}
