@import "../../utils/commons.scss";

$border: 2px;

.styledBtn {
  padding: 1rem 3rem;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1.1rem;
  min-width: 3rem;
}
.default {
  background: linear-gradient(
    to right,
    var(--clr-dark),
    var(--clr-primary),
    var(--clr-primary),
    var(--clr-dark)
  );
  color: white;
  transition: 0.2s ease-in-out;
  transition-property: box-shadow;
  &:hover {
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  }
}
.btnOutline {
  border: solid $border white;
  border-radius: 5px;
  position: relative;
  background: var(--clr-primary);
  color: white;
}
