@import "../../utils/commons.scss";

// .container {
//   pointer-events: none;
//   width: 100%;
//   margin: 0px 100px;
//   display: flex;
//   flex-direction: column;
// }
// .container > * {
//   position: relative;
//   width: fit-content;
// }
// .sideHeading {
//   margin-top: 50px;
//   font-weight: lighter;
// }
// .mainHeading {
//   font-size: 5rem;
// }
// .para {
//   width: 250px;
//   font-weight: 500;
//   font-size: 1.1rem;
//   margin-top: 150px;
//   margin-left: auto;
// }
// .image {
//   width: 80%;
//   margin-left: 8%;
//   position: absolute;
//   left: 0px;
//   top: 100px;
// }
// @media screen and (max-width: 1100px) {
//   .container {
//     margin: 0px;
//   }

//   .para {
//     margin-left: 75%;
//   }
// }
// @media screen and (max-width: 800px) {
//   //Written by shishir
//   .image {
//     width: 800px;
//     margin-left: 0;
//   }
//   .para {
//     margin-left: 0;
//   }
// }

// @media screen and (max-width: 670px) {
//   //Written by shishir
//   .container {
//   }
// }

// @media screen and (max-width: 450px) {
//   .container {
//   }
//   .mainHeading {
//     font-size: 3rem;
//   }
//   .para {
//     width: 100%;
//     margin-top: 75px;
//   }
// }

// Anurag

.container {
  @extend .flexRow;
  height: 100vh;
  justify-content: space-between;
  width: var(--fixedWidth);

  background: url(../../assets/Home/coin.png);
  background-size: contain;
  background-repeat: no-repeat;

  .heroHeading,
  .heroPara {
    width: fit-content;
  }

  .heroHeading {
    // @extend .flexCol;
    // justify-content: flex-end;
    // height: 100%;
    margin-top: -3rem;

    h3 {
      font-family: "Playfair Display", serif;
      text-transform: uppercase;
      font-weight: 400;
    }
    h1 {
      text-transform: uppercase;
      font-size: 7.2rem;
      font-weight: 800;
    }
  }

  .heroPara {
    @extend .flexCol;
    height: 60%;
    width: fit-content;
    justify-content: flex-end;
    align-items: flex-start;
    p {
      width: 40%;
    }
  }
}
