@import "../../utils/commons.scss";

.container {
  @extend .flexCol;
  justify-content: space-between;
  background-color: rgba($color: #5e3bbc, $alpha: 0.6);
  padding: 1.4rem;
  align-items: flex-start;
  height: 220px;
  min-width: 250px;
  border-radius: 5px;
  border: 2px solid rgba($color: white, $alpha: 0.3);
  transition-duration: 200ms;
}
.container:hover {
  box-shadow: 0px 0px 5px rgba($color: white, $alpha: 1);
  border: 2px solid rgba($color: white, $alpha: 1); //outline instead of border beacause i dont want the inner content to rearrange
  cursor: pointer;
}
.container h5 {
  font-weight: 500;
}
.detailsContainer {
  @extend .flexRow;
  justify-content: space-between;
  width: 100%;
}
.detailsContainer > * {
  flex: 1;
}
.detailsContainer > div > p {
  font-weight: 300;
  font-size: 0.8rem;
}
.detailsContainer > div > h6 {
  font-size: 0.9rem;
  font-weight: 600;
}
