@import "../../utils/commons.scss";

.container {
  display: flex;
  flex-direction: column;
}
.inputLabel {
  color: white;
  padding: 0.6rem 0rem;
}
.inputField {
  @extend .noDecoration;
  color: #868686;
  padding: 0.6rem;
  border-radius: 2px;
  background-color: transparent;
  border: 2px solid #868686;
}
