@import "./utils/commons.scss";

// Constants
$noise: "./assets/gradients/noise.svg";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-primary: #3d1f8b;
  --clr-dark: #0e0823;
}

.container {
  @extend .flexRow;
  padding: 2rem;
  background: var(--clr-dark);
  min-height: 100vh;

  .gradientRight {
    width: 50%;
    height: 50vh;
    position: fixed;
    top: 0;
    right: -20%;
    transform: translate(-20%, 0);
    transform-origin: center;
    pointer-events: none;
    opacity: 0.8;
    img {
      width: 100%;
      height: 100%;
      // object-fit: cover;
    }
  }
  .gradientLeft {
    width: 300px;
    height: 300px;
    position: fixed;
    bottom: 10%;
    left: -5%;
    // transform: translate(0, 0);
    transform-origin: center;
    pointer-events: none;
    opacity: 0.7;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  width: 100%;
  overflow-x: hidden !important;
  position: relative;
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  h6 {
    font-size: 1.2rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url($noise);
    background-size: cover;
    z-index: 10;
    pointer-events: none;
  }
}
