@import "./utils/commons.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-primary: #3d1f8b;
  --clr-dark: #0e0823;
}

.container {
  @extend .flexRow;
  padding: 2rem;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  h6 {
    font-size: 1.2rem;
  }
}
