@import "../../utils/commons.scss";

.container {
  width: var(--fixedWidth);
  margin: 0 auto;
  margin-top: 10vh;
  min-height: 90vh;
  //   margin-top: calc(10vh + 10px);
  .header {
    @extend .flexRow;
    justify-content: space-between;
    align-items: flex-end;
  }
  .initialBalance {
    text-align: right;
    p {
      font-size: 1rem;
      margin: 0.5rem 0;
    }
    h5 {
      font-weight: 400;
    }
  }
  .mainContainer {
    margin-top: 2rem;
    @extend .flexRow;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 60vh;
    .main {
      width: 70%;
    }
    .progress {
      width: 20%;
      // background: red;
      min-height: 60vh;
      padding: 1.5rem 1rem;
      background: radial-gradient(
        98.35% 98.35% at 3% 1.65%,
        rgba(214, 199, 255, 0.6) 0%,
        rgba(63, 50, 99, 0.06) 100%
      );
      border: 1px solid rgba(255, 255, 255, 0.05);
      box-sizing: border-box;
      backdrop-filter: blur(15px);
      /* Note: backdrop-filter has minimal browser support */

      border-radius: 5px;

      .bulletTitle {
        margin: 1rem 0;
        @extend .flexRow;
        justify-content: flex-start;

        &:first-child {
          margin-top: 0;
        }

        p {
          margin-left: 1rem;
          font-size: 1rem;
        }

        .bulletStarted {
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          border: 2px solid white;
        }
        .bulletComplete {
          @extend .bulletStarted;
          background: white;
        }
      }

      .subchapters {
        width: 90%;
        margin-left: auto;
      }
    }
  }
}
